[2017-08-16 15:14] GitAvinashreddy opened #2 "Searching old timestamp slack message"
Firstly I would like to thank for sharing this.

I would be great if you could elaborate the reading/monitoring feature. cause we are not getting any output with the below command.

slack-cli -s slackbot -

I need to constantly monitor a particular channel is it possible. Is it possible to search the data for specific time-stamp.

[2017-08-25 11:45] MuhammadAlkarouri opened #3 "Checking token with group "general" breaks"
Trying to run `slack-cli` to send a message breaks with the error below. I checked our slack community and it doesn't have a channel called `general`. Does it have to exist? The only reason it is used in the code as far as I can see is to check that the token works.

[2017-08-28 13:14] regisb commented on #3
Hi @MuhammadAlkarouri,

Thanks for taking the time to create this issue!

You are absolutely right: the call to `get_source_id(token, "general")` is only made to check the credentials. I naively thought that every team had a "general" channel, but I now realise this is not the case. I'll work on a fix to avoid relying on the general channel.

[2017-08-29 18:01] regisb commented on #2
Hi! Sorry for the late response, I've been away from the Internet for about two weeks.

Have you tried without the terminal dash?

    slack-cli -s slackbot

Could you specify what kind of output you would like to obtain by searching for a specific timestamp? What you are trying to obtain is not very clear to me.

[2017-08-31 13:49] regisb commented on #3
This issue was fixed in release 1.0.2. @MuhammadAlkarouri can you please confirm that upgrading to the latest release fixes the issue? If not, feel free to reopen this.

[2017-08-31 13:49] #3 closed

[2017-09-04 05:17] GitAvinashreddy commented on #2
Hello There,

Thanks for replying, Its actually festival season here in India, So was
unable to reply.

Actually in my organization we have a channel which auto send's message
from the server via incoming-webhook app.

As a client we want to read the content of the particular channel and save
it on client machine.

Do let me know your name. I am Avinash.

On Aug 29, 2017 11:32 PM, "Régis B." <noti

[2017-09-04 07:07] regisb commented on #2
Hi Avinash! I'm Régis.
I think I understand: you need not only to stream the content of the channel, (`slack-cli -s mychannel > mychannel.log`) but also to dump the archives of that channel since a certain timestamp. Right?
It shouldn't be too hard to do. The trick is to come up with the right CLI flag. I'll try to think of something.

[2017-09-04 18:50] regisb commented on #2
@GitAvinashreddy I implemented a feature which might solve your problem:

    slack-cli -s yourchannel --last 10000

Should print the last 10000 messages from your channel. Just redirect to a file to backup the content of the channel.

If this does not solve your problem, feel free to re-open this issue.

[2017-09-04 18:50] #2 closed

[2017-09-10 05:31] regisb opened #4 "Error message is cryptic on missing channel"
[code]

We would expect the program to fail more gracefully.

[2017-09-10 15:56] sommern commented on #4
This issue only scratches the surface of the need for exception handling. It also needs to fail gracefully if the team does not exist, the token is invalid, there is an error communicating with the slack server, there is an error writing to disk, etc.

[2017-09-13 13:56] MuhammadAlkarouri commented on #3
Sorry for the late response. Yes, it is fixed.

[2017-09-13 17:05] regisb commented on #4
Hi @sommern, thanks for taking the time to comment on this!

In that case, `slack-cli` assumes that the team's token was not created, so it asks the user for the team's token. After the user gives his token, the token is verified ; since the team does not exist, the token verification will fail. I don't really see a better way to check for team existence.

When the token is invalid, the user recei

[2017-09-13 17:05] #4 closed

[2017-09-16 01:28] kristopolous opened #5 "Some usernames toss an error when getting the logs"
I mentioned this [in this reddit comment](https://www.reddit.com/r/Python/comments/6z1jt3/slack_cli_for_productive_developers/dn2h3cw/) which I'm essentially copying here:

In `names.cli:25`, if a person's account gets deleted then the lookup of the name by id fails and raises a `slacker.Error: user_not_found`. A possible way to deal with this would be something like
[code]
There's no truly awesom

[2017-09-17 13:34] regisb commented on #5
Hi @kristopolous,
Thanks for taking the time to open this issue! I am not observing the same behaviour for a deleted user. When I make a call to `users.info` with an existing but deleted user's ID, I do get a valid response. That response includes a `"deleted": True` entry. This is compliant with the Slack API documentation: https://api.slack.com/methods/users.info

Have you seen this behaviour on

[2017-09-19 21:50] kristopolous commented on #5
Thanks it's not a deleted user actually. This is a real bug. It may be due to bots or events or something like that. Let me demonstrate it:

Without the patch I'm going to try to log this channel which has a lot of automated scripts posting in it:

[code]
Alright that's cool, let's find out what's going on

The last line that doesn't get included is from the Jibble app. Furthermore, if you look fo

[2017-09-21 13:44] regisb commented on #5
Again, thanks a lot for taking the time to investigate this issue! I think you nailed it. I commented on your PR.

[2017-12-27 17:40] bagza opened #7 "Non informative errors printing"
[code]

There is a concrete missed scoped in json answer, would be nice to print it out

[2017-12-27 17:51] regisb commented on #7
Hmmm you mean something along the lines of "Missing scope: You need to generate a Slack API key  with the 'dnd:info' scope"?

[2018-01-20 13:51] regisb commented on #5
Thanks @kristopolous for your help! I think I did manage to fix this in commit 178d996 please feel free to reopen if it's not the case.

[2018-01-20 13:51] #5 closed

[2018-01-20 14:01] regisb commented on #7
Commit ae2871a should close this issue. Please feel free to reopen if it's not the case.
Thanks @bagza for reporting this issue!

[2018-01-20 14:01] #7 closed

[2018-12-05 21:38] tedkozma opened #8 "Send message with different username"
Is there any possibility to get a behaviour similar to this other slack CLI-tool (https://www.npmjs.com/package/slack-cli), where a message can be sent with a different username ?

[2018-12-06 08:22] regisb commented on #8
Hi! Yes, it's possible. The message will appear as coming from a bot with the chosen name, like this:

![depressed](https://user-images.githubusercontent.com/44319/49570999-6010d200-f938-11e8-8398-88d4e1a2ae19.png)

What's your use case?

[2018-12-07 06:07] au-phiware opened #9 "Receive/download files"
Is it possible to download a file/snippet that is attached to a message. Messages with a file appear to be empty, e.g.

[code]

Perhaps something like this:

[code]

[2018-12-07 14:54] #9 closed

[2018-12-07 14:55] regisb commented on #9
What do you think of the proposed solution? It will print file uploads like this:

[code]

[2018-12-08 16:54] tedkozma commented on #8
thanks, @regisb, it's a useful feature!

[2018-12-10 02:02] au-phiware commented on #9
I can see how that would be useful if there were many files in the selected messages, but I would still like some way to get it on to the stdout.

[2018-12-19 17:22] wsturgiss opened #11 "Request: More tools for working with usernames"
<img width="402" alt="screen shot 2018-12-19 at 12 22 02 pm" src="https://user-images.githubusercontent.com/22747283/50236562-bba37c80-0388-11e9-819e-94f0f61ef125.png">

[2018-12-19 17:23] wsturgiss commented on #11
Not a "bug" per se, but more of a feature request.

[2018-12-19 18:18] wsturgiss opened #12 "piping from cat to slack-cli -d sends each line separately instead of all as one block"

[2018-12-19 18:19] wsturgiss commented on #12
the command I am using is
`cat filename.txt | slack-cli -d username`
and it sends each line separately.  Is this the intended functionality and I just need to find a way to send it in as a block?  It seems like its not the intended functionality.

[2018-12-19 18:50] wsturgiss opened #13 "stream to stdout errors out on single quote in message"

[2018-12-19 18:50] wsturgiss commented on #13
<img width="836" alt="screen shot 2018-12-19 at 1 49 51 pm" src="https://user-images.githubusercontent.com/22747283/50241266-12af4e80-0395-11e9-8165-89f09fdb015b.png">
![screen shot 2018-12-19 at 1 50 01 pm](https://user-images.githubusercontent.com/22747283/50241267-1347e500-0395-11e9-9fa9-410534eda2f9.png)

[2018-12-19 18:51] wsturgiss commented on #13
![screen shot 2018-12-19 at 1 50 01 pm](https://user-images.githubusercontent.com/22747283/50241307-28bd0f00-0395-11e9-8268-05420a23fe57.png)

[2018-12-19 18:51] wsturgiss commented on #13
if a message contains a regular single quote, the stream errors out.  Also, sorry for opening so many issues.

[2018-12-19 19:10] wsturgiss commented on #13
it seems to only happen when the single quote is entered in the app (I'm using the mac desktop app).

[2018-12-19 19:14] wsturgiss commented on #11
When a user is tagged using @, and the message appears in the stream, it doesn't show the username, but instead shows an odd code

[2018-12-19 19:16] wsturgiss commented on #11
Another request: some way to get a list of users that I have existing conversations with, or better yet some kind of tab completion when typing a users name.  If a user changes their username or I know vaguely what their username is, I end up needing to go to the slack app to find out their username so I can use it in the CLI

[2018-12-19 22:14] regisb commented on #11
Hi @wsturgiss! Thanks for taking the time to open these issues. If you don't mind, I'll address the first question first, which is correctly printing usernames. This is indeed a bug.

As for user/channel/group name tab-completion, I'll have to think about it. I think it would be a cool feature, but it needs some work.

[2018-12-19 22:20] regisb commented on #12
I'm afraid this is the intended behaviour... Let me explain: the "pipe" feature was designed with the `tail -f` scenario in mind:

    tail -f nginx/access.log | slack-cli -d devteam

In this scenario, we never reach the end of the file. We need each line to be printed one at a time. And while reading from standard input, there is no way for slack-cli to guess that the input is going to reach an e

[2018-12-19 22:20] #12 closed

[2018-12-20 08:01] #11 closed

[2018-12-20 08:04] regisb commented on #11
Fixed in the latest release. Previous output was:

    hello this is <@USLACKBOT> talking in <#C02SNA1U4|general>

Now:

    hello this is <@slackbot> talking in <#general>

Thanks for raising this issue!

[2018-12-20 08:06] regisb opened #14 "Auto-complete channel/user names in CLI"
It would be awesome if the CLI could auto-complete some arguments:

    slack-cli -d gene<tab>

would give:

    slack-cli -d general

(as asked by @wsturgiss in #11)

[2018-12-20 14:48] wsturgiss commented on #11
Thanks! That tagging issue fix works like a charm.

[2018-12-20 15:09] wsturgiss commented on #13
Okay, yeah I have been running this in this (really cool) terminal emulator: https://github.com/GitSquared/edex-ui.  It runs bash, but I have read that it does have issues with anything but basic fonts.  This same issue doesn't seem to come up in my iTerm2.  Here are some relevant screenshots though in case you'd like to pursue this further.  I understand if not, as this seems to be an issue with

[2018-12-20 15:17] wsturgiss commented on #12
This works well, but it seems that if the file is long enough, it gets split into two parts.  3978 characters or less works fine, but if you go beyond that it is split in two, and one message gets the opening ``` and the other gets the closing ``` causing neither to be a code block.

This seems to be a limitation in the native app as well.  If you paste something into the message box longer than 3

[2018-12-20 15:19] #13 closed

[2018-12-20 15:21] wsturgiss opened #15 "Feature request: Ability to add snippets"
Once a block of text exceeds 3978 characters it can't be fit into a single message and needs to be made into a snippet.  Request to add ability to create snippets using a piped in block of text in the CLI.

[2018-12-20 15:22] wsturgiss commented on #15
I'd like to work on this if you don't mind.  Would be a fun first foray into python.

[2018-12-20 15:39] regisb commented on #15
Sounds good! Creating a snippet is pretty much like uploading a file, except that you need to call the `upload` API method with a  `content` parameter instead of a `file`: https://api.slack.com/methods/files.upload

As for the CLI argument, maybe we can use the `-F/--snippet`? What do you think?

[2018-12-21 19:20] regisb commented on #14
@wsturgiss can you try this out?

[2018-12-27 15:21] wsturgiss commented on #14
Tried this today, and didn't get any autocomplete, but I reinstalled from pip.  Should I pull down the repo and build it instead to get the latest changes or do you have it autoupdating in pip?

[2018-12-27 15:40] wsturgiss commented on #14
It looks like its a bit flaky in bash.  I have seen 2.5 issues so far:
1. it only works about half the time for me.  Half the time, when I press tab, I get a warning bell from the terminal and it fails to bring up any autocomplete options
2. when I type slack-cli -d j (I have a person whose name starts with j), I somehow got some filenames from the ~/ directories
2.5 Its a little slow, taking roug

[2018-12-27 15:48] wsturgiss commented on #15
I like the --snippet, but I'm not sure what the idea was on the -F.  With Christmas over I will finally have some time to try this.

[2018-12-27 17:54] regisb commented on #15
take your time :)

It's just that most options can be specified in two forms: short and long. For instance: `-f` and `--file` both work for uploading a file.

[2018-12-27 17:58] regisb commented on #14
I'm a zsh user myself, and it sucks that I only got it to work for bash...

Can you please give an example, in the form of `command -x arg<tab>`?

Ha, that sucks. That's probably a more general issue about argcomplete. Maybe I shouldn't have chosen to rely on a third party library.

I think slack-cli in general is a bit slow. There should be a cache to avoid making an http request every time we hi

[2018-12-27 19:32] wsturgiss commented on #15
ah okay.  Too bad -s is already taken.  Maybe -C for code?  Not really consistent with Slack though because code is just text inside triple ticks

[2018-12-27 19:39] wsturgiss opened #16 "CLI thinks that something that isn't an emote is an emote."
In our slack channel the following was posted in the context of a URL that had been partially de-identified.
`::App/GET thingies/:`
Because it is wrapped in colons, the CLI thought it was an emote and threw the following error:
![screen shot 2018-12-27 at 2 36 55 pm](https://user-images.githubusercontent.com/22747283/50492308-e32bc200-09e4-11e9-9e1e-b6d5b3f85791.png)
Looks like its looking for a f

[2018-12-27 19:46] wsturgiss commented on #14
Re: issue 1, I entered
`slack-cli -d j<tab>`
and there are several users with a j at the start.  They show sometimes when trying this.  I wonder if the request just fails sometimes.

Re: issue 2:
That hasn't happened again since my initial testing, which granted hasn't been much.  Edit: I accidentally reproduced it when I mistakenly tried testing the autocomplete in a zsh tab.  I think this may no

[2018-12-27 19:49] wsturgiss commented on #16
Looking through the repo, it looks like this emoji.json file is filled, but for some reason disappears when I install via pip.  Not sure why.  Is there any reason not to run this from the repo folder instead of via pip?

[2018-12-27 22:11] regisb commented on #15
Well, a snippet is a kind of file, and file is `-f/--file`, so I think `-F/--snippet` makes sense. Or just `--snippet` (no short form).

[2019-01-08 15:22] genebean commented on #15
I would love this but please do have a short form. Also, if possible, allow us to specify what syntax highlighting to use.

[2019-01-08 16:13] regisb commented on #15
Apparently it's possible to specify a `filetype` parameter. But @genebean do you often upload a file with an extension that differs from its true nature? For instance, pretty much all python files have a `.py` extension.

[2019-01-08 19:13] genebean commented on #15
Good point. It would still be useful when piping input from standard in though.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-16 12:58] jayharrison-okta opened #17 "Multiline bot messages are truncated to first line only."
For example `$ slack-cli -t $(cat .slack-token) -s my-alerts -l 5`
gives:
[code]
when the channel is showing:
![screen shot 2019-01-16 at 12 54 27](https://user-images.githubusercontent.com/41923606/51250469-6447fa80-198e-11e9-974d-95efeda97ffc.png)

Any way to get multiline messages to be retrieved too?

[2019-01-16 16:05] #17 closed

[2019-01-16 16:06] regisb commented on #17
Good catch! Can you try the latest release, see if it works for you? (v2.2.3)

[2019-02-15 06:26] dave2309 opened #18 "Old version cryptography"
Hi,

On every action I got that
`.local/lib/python2.7/site-packages/requests/__init__.py:83: RequestsDependencyWarning: Old version of cryptography ([1, 2, 3]) may cause slowdown.
  warnings.warn(warning, RequestsDependencyWarning)`

Anything I can try for that?

Thanks

[2019-02-15 07:47] regisb commented on #18
Hi @dave2309! This warning is printed by `requests`. Here is the corresponding commit: https://github.com/kennethreitz/requests/commit/15054aa3909da2383e8cfa9abcd296ba46a7200f
I see that the minimal required version to avoid this warning is cryptography==1.3.4. Maybe you can try to upgrade the cryptorgraphy package with:

    pip install -U --user cryptography

[2019-02-15 11:41] dave2309 commented on #18
Thanks,
I just tried that, It upgraded but then
`$ slack-cli
Traceback (most recent call last):
  File "/home/.local/bin/slack-cli", line 7, in <module>
    from slackcli.cli import main
  File "/home/.local/lib/python2.7/site-packages/slackcli/cli.py", line 11, in <module>
    from . import slack
  File "/home/.local/lib/python2.7/site-packages/slackcli/slack.py", line 1, in <module>
    import s

[2019-02-15 11:56] dave2309 commented on #18
I needed to uninstall ubuntu package `apt remove python-openssl`
And then install `pip install --user pyOpenSSL`
Seems to be working better now,
Thanks for support

[2019-02-15 11:56] #18 closed

[2019-02-15 11:58] dave2309 opened #19 ""slacker.Error: method_not_supported_for_channel_type""
Sorry for another issue but listening to "all" channel gives me this
[code]
Is there anything I can do?
Thanks

[2019-02-15 12:47] dave2309 commented on #19
Actually any channel or user gives the same error

[2019-02-15 14:34] regisb commented on #19
Can you try `slack-cli -s general -l 100`?

[2019-02-15 14:35] regisb commented on #18
:+1:

[2019-02-15 20:19] dave2309 commented on #19
That does work. But, of course, not like a stream...

[2019-02-16 06:22] regisb commented on #19
What about `slack-cli -s general`?

[2019-02-16 19:35] dave2309 commented on #19
Ok to be fair, `slack-cli -s all` (or any others) seems to work... for about 10 minutes, then crashes with the error I mentioned.

[2019-02-17 07:31] regisb commented on #19
That's an important information :) does it crash on a bot's message?

[2019-02-17 09:09] #19 closed

[2019-02-17 09:10] regisb commented on #19
I think the problem comes from messages posted in private groups. Please upgrade to the latest version (v2.2.4). Feel free to re-open if you observe the same problem.

[2019-03-28 13:49] harbertc opened #20 "Unicode Decode Error on pip install - Windows 10"
When running the pip install on Windows 10, I get the following...

[code]

[2019-03-29 14:59] #20 closed

[2019-03-29 15:00] regisb commented on #20
Hi @harbertc,
Thanks for the report! I made an attempt at fixing this in v2.2.5. Can you please confirm if it works by running `pip install slack-cli` again?

[2019-03-29 15:52] harbertc commented on #20
Worked great. What an amazingly fast turnaround. Thanks, @regisb!

[2019-05-24 18:47] qtfkwk opened #22 "unbuffered stdout / flush print?"
Realized while trying to use `slack-cli -s all` inside a script the prints weren't flushed immediately (presumably due to buffering?).

Adding `-u` to the python shebang in the generated console script shim worked.

Did not try, but the following in `slackcli/stream.py` should work and be portable across Python 2 and 3:

[code]

Personally I finally settled with using `print(..., flush=True)` and

[2019-05-24 18:55] regisb commented on #22
Hi @qtfkwk, thanks for your suggestions!

What exactly do you mean by that?

[2019-05-27 05:57] regisb commented on #22
@qtfkwk I don't really understand what you mean when you say you are running `slack-cli` from "inside a script". Do you mean a bash/shell script? If so, you can solve your problem either by adding the `-u` option to the `python` command (as you mentioned) or define the `PYTHONUNBUFFERED=1` environment variable.

I'd prefer if users implemented these custom solutions themselves, as I don't want to

[2019-05-29 22:15] qtfkwk commented on #22
All good.

[2019-05-29 22:15] #22 closed

[2019-07-15 08:40] BoD opened #23 ""@..." mentions sent from the CLI are not clickable in the Slack app"
Hi!  Sorry, if this is not really a bug but simply something I don't know how to do.

When I'm mentionning somebody in the official Slack client (for instance @username) this becomes clickable in its UI.

But when using `slack-cli` (for instance `slack-cli -t xxx -d mychannel "Hello, @bod"`) they are not.  Is it a known issue / something that could be fixed?

Thanks a lot!

[2019-07-16 06:23] regisb commented on #23
Hi @bod! Unfortunately, in a shell only urls are clickable (at best). I'm afraid we are limited by the features of shells here...
I'm going to close this issue, but feel free to reopen if you have an idea on how to implement this.

[2019-07-16 06:28] BoD commented on #23
Thanks for replying. I think maybe I wasn't clear enough. I wasn't talking about names being clickable in the shell, but in the official Slack app.

Basically, if I send a message through the official app, names are clickable (in the official app), but if I send the same message through the cli, they are not (also in the official app).

So it must be a difference in the way messages are sent?

[2019-07-18 06:26] regisb commented on #23
Ho, right, I understand. This is a legitimate issue. I'll re-open and look into it.

[2019-09-02 02:31] nehemiahjacob commented on #23
So when a @user is mentioned and selection in the official app, the text message goes line this
[code]

So right before POSTing the message to the server, we have to replace @user into <@U&..> I would like to work on this item if you give me some pointers.

[2019-09-02 12:12] regisb commented on #23
Hey @nehemiahjacob, thanks for investigating this issue and your offer to contribute! You will need to modify the `slackcli.slack.post_message` method. You will want to search and replace "@" mentions by looking for the proper user id. Currently, the `slackcli.names.username` method performs the username -> user ID association, but there is no method to do the association in the opposite direction

[2019-11-22 16:50] Arthaey opened #24 "UnicodeEncodeError: 'ascii' codec can't encode character, ordinal not in range(128)"
I ran `pip install slack-cli` on my Mac. Worked fine, was able to send myself a test DM. Awesome!

But then I tried to download messages from a channel and got this error:

[code]

[2019-11-22 17:18] regisb commented on #24
Haaaaa the joys of unicodes in python 2.7... Do you have python 3 on your laptop? Can you please try to install slack-cli with python 3 instead? You can probably do so by running `pip3 install slack-cli`.

[2020-01-08 14:42] chipbite opened #26 "Question/Feature Request: How do I update status?"
Hello!
I tried
`slack-cli -d slackbot "/status :office: In Office"`

but it does not work.
Any clues? Or does this require new development?

[2020-01-21 20:09] nixfreak commented on #26
Works for me  /status 🏢 In Office

[2020-01-21 21:11] chipbite commented on #26
Hi @nixfreak  - not sure what you mean.
First you write:

OK, so you got a different result than me?

But, then you write:

"no the status is not changed"  - what does that mean?

Sorry for not getting you.

[2020-01-22 10:20] #24 closed

[2020-01-22 10:23] regisb commented on #26
Hi @chipbite @nixfreak! This should now work in the latest release (v2.2.6).

[2020-01-22 10:29] #26 closed

[2020-01-29 21:36] tedmiston commented on #8
Any idea if this feature still works?  When I try passing `-u foo` or `--username foo`, the message doesn't send and silently errors out.

When I omit this arg it works as expected.

[2020-01-31 08:06] jbl-proglove opened #27 "Is it possible to exclude channels when using -s all?"
Hi there,

thanks for the nice cli!
I was wondering: is it possible to use the `-s` flag to exclude a channel?
I want to setup two windows, one running `slack-cli -s some-channel` and another one using `slack-cli -s all -s !some-channel`.

The `!some-channel` is just an example for a negation of course. I want to display everything but the stuff from `some-channel`.

Thanks in advance and cheers,

[2020-01-31 08:07] jbl-proglove opened #28 "Can I stream all direct messages for me?"
Hi there,

and another question:
Is it possible to create a `-s` selector that targets only direct messages towards me?
Something like `slack-cli -s to:@julius` or the like.

Thanks in advance and cheers,
Julius

[2020-01-31 10:22] regisb commented on #27
Hi @jbl-proglove! I think you can solve this problem by taking advantage of other unix tools. Would the following work for you?

    slack-cli -s all | grep --invert-match "@some-channel"

I'll close this issue now, feel free to reopen if you think the proposed solution does not properly address the problem.

[2020-01-31 10:22] #27 closed

[2020-01-31 10:24] regisb commented on #28
Similar to #27, would the following work for you?

    slack-cli -s all | grep "<@julius>"

[2020-01-31 10:24] #28 closed

[2020-02-03 10:23] regisb commented on #8
@tedmiston Thanks for reporting this. Indeed, I managed to reproduce the issue. However, I have no idea why the message is not properly sent: the response from the Slack API includes an "ok":

    $ slack-cli -d thetestbot -u somerandomuser "hello"
    ...
    '{"ok":true,"channel":"D3BN06XU1","ts":"1580724803.000200","message":{"type":"message","subtype":"bot_message","text":"hello","ts":"1580724

[2020-02-03 15:35] tedmiston commented on #8
Glad to hear that you can reproduce.

I looked all over the Slack docs for mention of the `as_user` feature being officially removed but I didn't find anything.  The legacy tokens are deprecated of course (https://api.slack.com/legacy/custom-integrations/legacy-tokens) but as far as I can tell none of the functionality has been intentionally disabled by Slack.

Curiously, I tried to reproduce this

[2020-02-03 17:26] regisb commented on #8
Right! I understand what's going on now. It's not possible to view the personal message sent from user X to user Y if you are not either X or Y. But if you use the `-u` option to send a message to yourself or to a channel, then you'll see the message appear. Thus, the feature works as expected and I can close this.

[2020-02-03 17:26] #8 closed

[2020-02-04 00:49] tedmiston commented on #8
Ahh okay.  So it is not really possible to use the `-u` option to send a message to a channel from User A (with code run by User B) and then have all users of that channel see it?

[2020-02-04 08:15] regisb commented on #8
Yes it is. What is not possible is to send a private message from user A to user C.

[2020-02-04 16:12] tedmiston commented on #8
That makes sense.  So maybe there is a bug here after all.  When I commented on the issue initially, I was sending the message to Slackbot.

[code]

The latter call still does not work for me (errors out silently and message does not show up).

It sounds like the API call may be intentionally not supported if Slackbot is considered a user.  But perhaps there is a bug that `slack-cli` does not retu

[2020-02-04 16:16] regisb commented on #8
Slackbot *is* considered as a user. I made sure of that by checking the API response (which I pasted in my above comment https://github.com/regisb/slack-cli/issues/8#issuecomment-581341041)

[2020-02-13 20:53] donglaizhang opened #29 "Not able to receive messages from bots"
Hey,
thank you for creating this amazing tool. I am trying to use it to receive messages via:
[code]
`slack-cli` is able to receive messages from persons, but not from bots. I am not sure it is the intention.

tested with option: `-l` below:
[code]
all messages including from person and from bots are displayed in console.

Regards,
Donglai

[2020-02-16 15:06] regisb commented on #29
Hi @donglaizhang! I'm not sure I understand what your problem is.

This is the expected behaviour, right?

Can you please paste here the exact command that you are running, the output that you are getting and why it's different from what you expected?

[2020-03-12 09:16] neilsf opened #31 "Error when config dir not writable"
Hi. Thanks for this great script.

While saving the API token to the user's home (in Linux at least) is a convenient feature, there can be situations where the current user can't write to the directory, e.g:

- User does not have a home (did not test this, maybe there's a fallback)
- User is impersonalized with sudo and thus cannot write the initiater's home directory

In such cases the script hal

[2020-03-24 15:47] ArcticSnowman opened #32 "WARNING- Ability to generate tokens is going away in May 2020"
https://api.slack.com/legacy/custom-integrations/legacy-tokens

[2020-03-26 13:34] Peitemoukiemena opened #33 "Error DistributionNotFound"
[code]

I installed the latest version with pip and running any slack-cli command returns this error. What are the requirements?

My system, Centos 7
[code]
Do I need other versions?

[2020-03-26 16:45] regisb commented on #33
Hi @Peitemoukiemena! slack-cli is no longer compatible with python 2.7. Please upgrade to python 3.5+.

[2020-03-26 16:45] #33 closed

[2020-04-16 11:57] chipbite commented on #26
Forgot to say: Thanks!

It works really well. I've got my slack status commands set up so I can switch, good nowadays when working from home, I find.

Take care!

[2020-04-16 12:00] chipbite opened #34 "Cannot use /away to toggle yourself as away :-)"
Hello!
I tried
`slack-cli -d slackbot /away`

with and without quotes, also.
But it does not work. What happens is that the slackbot gets a message with a path on my system, ending with "away" - which does not exist... :-)

Dunno if this is a simple fix.

BR! /marcus

[2020-04-25 11:26] simonschllng commented on #34
Same for the "/dnd 2 hours" command.

[2020-04-30 13:02] loomsen commented on #32
Migration to a slack app is actually pretty easy. Create a new app, add following scopes:

![Selection_469](https://user-images.githubusercontent.com/302524/80713203-5e2e4c80-8af3-11ea-9030-8aadc816e14a.png)

and use the generated oauth token for authentication.

![Selection_470](https://user-images.githubusercontent.com/302524/80713358-9afa4380-8af3-11ea-8f6c-659c04c2bc16.png)

[2020-04-30 13:26] regisb commented on #32
Thanks for the instructions @loomsen! I just wanted to say that this issue is on my todo-list, but I'm currently kept busy by other projects.

[2020-04-30 15:23] loomsen commented on #32
@regisb I can create a PR for the README if I find some time during the weekend or next week, no prob.

[2020-04-30 20:21] regisb commented on #32
That would be great @loomsen.

[2020-05-02 17:51] loomsen commented on #32
Please review @regisb @ArcticSnowman

[2020-05-02 20:26] zebardy opened #36 ""/status clear" doesn't work"
the command `/status clear` should clear the current status. However this doesn't currently work. The regular expression for matching the `/status` command does not match this. Special casing this to set an empty status emoji and text should solve this issue.

[2020-05-03 09:32] #36 closed

[2020-05-03 09:35] #32 closed

[2020-05-03 09:48] regisb commented on #34
@chipbite It should be quite easy to implement `/away`. Howerver @simonschllng the `/dnd ...` commands are more complex if we want to support [all documented syntax examples](https://slack.com/intl/en-fr/help/articles/214908388-Pause-notifications-with-Do-Not-Disturb):

[code]

[2020-05-11 06:35] #31 closed

[2020-05-11 06:35] regisb commented on #31
Hi @neilsf! This is addressed in v2.2.7. Please let me know if it works for you.

[2020-05-11 06:37] #29 closed

[2020-05-11 06:37] regisb commented on #29
Closed from lack of feedback. Please comment here if you feel your issue was not addressed properly.

[2020-05-11 08:06] #23 closed

[2020-05-11 08:07] regisb commented on #23
This is now included in v2.2.8.

[2020-05-12 06:01] neilsf commented on #31
I can't really check now, but thanks for the update anyway.

[2020-05-18 09:36] yetyetanotherusername opened #38 "Auth requests a token with dnd.info despite dnd:read being granted"
I tried setting up slack-cli and set all scopes for the token like shown in the readme, however slack-cli rejects the token saying that `This token requires the 'dnd:info' scope.` I had a look in slacks API documentation and the method `dnd.info` has apparently been deprecated. This effectively locks me out of authenticating.

[2020-05-18 15:48] regisb commented on #38
Hi @yetyetanotherusername! Where did you see that the dnd:info scope is deprecated? It is still documented here: https://api.slack.com/methods/dnd.info

[2020-05-18 16:18] yetyetanotherusername commented on #38
Oof, you're right, I misread the documentation, sorry :-/. I still can't figure out how to add the dnd:info scope. I tried adding dnd:write but it doesn't change anything.

[2020-05-19 08:56] regisb commented on #38
The new way to create Slack applications makes interacting with the Slack API more complex for all users... I need to figure out a way to automatically create a slack app with the right scopes, and that does not need administrator approval to install the app in the workspace.

[2020-05-20 08:52] chipbite commented on #34
I am primarily interested in /away. I often set a status message like break, and would like to issue a command to set myself as away as well. dnd would also be very useful but is a different use case (like wrapping up for the day, which is not done as often), IMO.

[2020-05-22 05:30] azurelysium commented on #38
Hi, I have had the same problem.
The solution was to add the OAuth scope `team:read`

The code below made an exception due to the missing scope.
The error message said that `dnd:info` was missing. I think `dnd:info` could be replaced with `team:read``

[code]

[2020-05-22 06:33] #38 closed

[2020-05-22 06:33] regisb commented on #38
@azurelysium I trust you. I made the change in v2.2.9.

[2020-05-22 07:39] yetyetanotherusername commented on #38
Ok, this did something.

On trying to authenticate, the slack-cli crashes with the following stack:
[code]
output of pip freeze:
[code]
Scopes:
![image](https://user-images.githubusercontent.com/15213889/82643490-e04ff380-9c0f-11ea-8bd9-44e1ef0e5e9c.png)

[2020-05-22 07:50] azurelysium commented on #38
@yetyetanotherusername

In this document, https://api.slack.com/rtm
[code]

The latest Slack App's OAuth scope list does not include `rtm.start` or other Real Time Messaging scopes. I have tried to create a classic Slack app but gave up to make authorization work. I guess that you can receive and send Slack messages except streaming incoming messages.

[2020-05-22 07:59] yetyetanotherusername commented on #38
I see, thanks for your help. Pretty lame move by slack. :-/

[2020-06-02 15:42] crwgregory opened #39 "[QUESTION] How do I send messages to users directly?"
I'm not sure where I can find the User's Username that the cli will accept, I have tried a few different formats like full name and Member Id but neither has worked.

Can someone please give me an example of where I can find and how to use Slack Usernames in the app?

Thank you!

[2020-06-02 19:31] crwgregory commented on #39
Answered my own question. The app uses this api method to map users: https://api.slack.com/methods/users.list/test

[2020-06-02 19:31] #39 closed

[2020-06-10 19:42] pwoolvett opened #40 "channels.list deprecated"
Today slack-cli stopped working

https://api.slack.com/changelog/2020-01-deprecating-antecedents-to-the-conversations-api

:(

related: https://github.com/os/slacker/issues/116

temporary workaround (I dunno about side effects, Im only using it to PM me):
1. upgrade `slacker`: `pip install --upgrade slacker`
2.  change the `channel` fetcher in `slackcli.messaging:iter_resources` to `lambda: slack.

[2020-07-18 18:24] jeremycurny commented on #40
It stopped for me too:

[code]

[2020-08-26 06:50] alexfrolov commented on #40
https://api.slack.com/changelog/2020-01-deprecating-antecedents-to-the-conversations-api

[2020-09-01 11:08] tjg37 commented on #38
I was also receiving the same error `This token requires the 'dnd:info' scope` when initially adding a token.

I followed the advice above and added the OAuth scope `team:read`, then when I tried to send a message, I got the following error:

[code]

This appears to be related to https://github.com/regisb/slack-cli/issues/40.

[2020-09-04 22:40] aph3rson opened #41 "FR: Better status update functionality"
Right now, `/status` is the only way to update a status from slack-cli. However, it'd be nice to use things like expiration times on statuses - this isn't supported in the `/status` command, but is supported from the API with the `users.profile.set` method.

This might be nice to integrate in as an option for slack-cli. I could see something along the lines of a new `-S` flag (vs. `-d`, etc.), whi

[2020-09-10 19:33] johanlindquist opened #42 "Port code to use official Slack client SDK?"
Are there any plans to convert slack-cli to use the official Slack Python client SDK?

https://slack.dev/python-slackclient

Seems that slacker is not receiving any further updates.

[2020-09-11 06:54] regisb commented on #42
Hi @johanlindquist! Your comment makes sense. I didn't realise Slack had released a Python SDK. Yes, it would be reasonable to port slack-cli to the new SDK.

In all honesty, this project needs some love. For instance, I should also address the pending authentication issues (see #40). The problem is that I have little time or desire to work on this project right now, for the following reasons:

1.

[2020-09-11 10:19] johanlindquist commented on #42
Hi @regisb

Understood, perhaps I will see if I have some time to update this - think #40 is probably pretty easy to fix if using the new SDK.

And comment 2) there is interesting, you have to wonder how much information overload slack is guilty of.

[2020-09-11 10:21] NudeNULL opened #43 "Unable to upload to newly created private channels"
Hello,

A few days ago I encountered an issue with new private channels, seems like Slack is creating the channels in a new way.

Here are the details:
* I was using this command for every project, the same token, all channels are private, it was working like a sharm
/usr/local/bin/slack-cli -d ${SLACK_CHANNEL} -t ${SLACK_TOKEN} -f ${ANDROID_BUILD_PATH}${PROJECT_NAME}.apk

* Now for the old channe

[2020-09-17 14:02] william-dowling commented on #40
Trying  @pwoolvett solution today (17 Sept 2020) gets this for me:
[code]

[2020-09-18 13:15] william-dowling commented on #40
Trying again, this time remembering to run `pip install --upgrade slacker`
[code]

[2020-12-14 23:58] quinncomendant opened #44 "Slack API no longer allowing creation of legacy tokens"
Hello,

This is my first time attempting to set up a slack app, so forgive me if I'm off track or if this issue has been reported already.

When running `slack-cli` the first time, it asks to get an API token:

    … To create and view your tokens, head over to:
    https://api.slack.com/custom-integrations/legacy-tokens

When I access that URL, the page says, _“Legacy token management: Tokens may

[2020-12-15 11:51] regisb commented on #44
Hi @quinncomendant! Thanks for your comment. To explictly show that I am no longer working on this project I just put it in maintenance mode. (see README)

[2021-03-04 06:17] jbelf commented on #40
I use slack cli for deleting bot created channels like this: https://blog.rmotr.com/how-to-delete-multiple-slack-channels-at-once-7ba00f4890cd

and replacing line 80 of api.py with
`resp = self.__request('conversations.list', **kwargs)`

got me taken care of